<style>
  button {
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    margin-right: 15px;
  }

  .enable {
    color: darkblue;
  }
</style>

<div id="container" [ngSwitch]="userLikeStatus">
  <h1>Assessment Angular</h1>
  <div *ngSwitchCase="0">
    <button (click)="userLike()">Like | {{totalLike}}</button>
    <button (click)="userUnlike()">Dislike | {{totalDislike}}</button>
  </div>
  <div *ngSwitchCase="1">
    <button class="enable" (click)="userLike()">Like | {{totalLike}}</button>
    <button (click)="userUnlike()">Dislike | {{totalDislike}}</button>
  </div>
  <div *ngSwitchCase="2">
    <button (click)="userLike()">Like | {{totalLike}}</button>
    <button class="enable" (click)="userUnlike()">Dislike | {{totalDislike}}</button>
  </div>
</div>
